@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Web/76eb9ebf/stylesheet/NotoSerif-Web.css);

body {
  margin: 0;
  font-family: 'Noto Serif KR', serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/*
 * Image Gallery
 */

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 0.25rem 0;
  margin-top: 1rem;
}
